<h1>This is the header</h1>
<%= link_to("size: 2", "/locker/view/#{2}")%>
<br>
<%= link_to('size: 4', "/locker/view/#{4}") %>
<br>
<%= link_to('size: 7', "/locker/view/#{7}") %>
<br>
<%= link_to('size: 8', "/locker/view/#{8}") %>
<br>
<%= link_to('size: 9', "/locker/view/#{9}") %>
<br>
<%= link_to('size: 10', "/locker/view/#{10}") %>
<br>
<%= link_to('size: 12', "/locker/view/#{12}") %>
<br>
<%= link_to('size: 15', "/locker/view/#{15}") %>
<br>
<%= link_to('All sizes', "/locker/view/#{0}") %>
<h1>add lockers</h1>