<% if (session[:signed_in]) %>
<h1>Create new locker with student OR <%=link_to('Create Multiple Lockers', view_path)%></h1>
<br>
<%= form_for(@locker, url: locker_index_path) do |f| %>
    <h3>Locker Size</h3>
    <%= f.text_field :size, class: "form-control", placeholder: "2", autocomplete: "off"%>
    <h3>Locker Number</h3> 
    <%= f.text_field :number, class: "form-control", placeholder: "24", autocomplete: "off"%> 
    <h3>Student</h3>
    <%= f.text_field :student, class: "form-control", placeholder: "Hunter Hewitt", autocomplete: "off"%> 
    <h3>Instrument</h3>
    <%= f.text_field :instrument, class: "form-control", placeholder: "Double Bass", autocomplete: "off"%> 
    <h3>Primary Ensemble</h3>
    <!-- change ensemble to be a drop down -->
    <%= f.select :ensemble, ["-","Wind Symphony","Symphonic Winds","Symphonic Band","Concert Band", "Jazz I", "Jazz II","Chamber Orchestra","Philharmonic Orchestra"]%> 
    <br>
    <br>
    <br>
    <%=f.submit "Add Locker"%>
    
    <!-- or add multiple lockers and edit info later -->
<%end%>
<% else %>
  <script type="text/javascript">
    window.location.href="/"  // put your correct path in a string here
  </script>
<%end%>