<% if user_signed_in? %>
<%= form_for :anything, url: 'view' do |form| %>
  <h3>Number of Lockers to Add</h3>
  <%= form.text_field :number, class: "form-control", placeholder: "10", autocomplete: "off" %>
  <h3>Size of Lockers to Add: Only enter if all lockers to add have same size</h3> 
  <%= form.text_field :size, class: "form-control", placeholder: "2", autocomplete: "off" %>
  <h3>Locker Number of First Locker</h3> 
  <%= form.text_field :first, class: "form-control", placeholder: "123", autocomplete: "off" %>
  <br>
  <br>
  <%= form.submit  "Add Lockers"%>
<% end  %>
<% else %>
  <script type="text/javascript">
    window.location.href="/"  // put your correct path in a string here
  </script>
<%end%>