<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
<head>
  <title>TAMU MUSA Utils</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<%= render '/layouts/header' %>

<div class="container">  
  <body>   
    <%= yield %>
  </body>
</div>

</html>



